<section id="pricing-table" class="section">
    <div class="container">
        <a rel="nofollow" href="@Url.Action("Calculate", "Home")" class="btn btn-common btn-large"><i class="fa fa-cart"></i> Calculate Bill</a>
        <div class="row">
            <div class="col-sm-3">
                <div class="table">
                    <div class="title">
                        <h3>UNILIVER</h3>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value"> <sup>$</sup>10</p>
                        <p class="price-quality">/90 DAYS</p>
                    </div>
                    <ul class="description">
                        <li>Get a 3 for 2 Deal on Classic Ads</li>
                        <li>No Featured Job</li>
                        <li>Edit Your Job Listing</li>
                        <li>Manage Application</li>
                        <li>90-day Expired</li>
                    </ul>
                    <button class="btn btn-common" type="submit">Get Started</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="table" id="active-tb">
                    <div class="title">
                        <h3>APPLE</h3>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value"> <sup>$</sup>50</p>
                        <p class="price-quality">/180 DAYS</p>
                    </div>
                    <ul class="description">
                        <li>Gets a discount on Standout Ads where the price drops to $299.99 per ad</li>
                        <li>No Featured Job</li>
                        <li>Edit Your Job Listing</li>
                        <li>Manage Application</li>
                        <li>180-day Expired</li>
                    </ul>
                    <button class="btn btn-common" type="submit">Get Started</button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="table">
                    <div class="title">
                        <h3>NIKE</h3>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value"> <sup>$</sup>100</p>
                        <p class="price-quality">/180 DAYS</p>
                    </div>
                    <ul class="description">
                        <li>Gets a discount on Premium Ads where the price drops to $379.99 per ad</li>
                        <li>No Featured Job</li>
                        <li>Edit Your Job Listing</li>
                        <li>Manage Application</li>
                        <li>180-day Expired</li>
                    </ul>
                    <button class="btn btn-common" type="submit">Get Started</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="table">
                    <div class="title">
                        <h3>FORD</h3>
                    </div>
                    <div class="pricing-header">
                        <p class="price-value"> <sup>$</sup>150</p>
                        <p class="price-quality">/200 DAYS</p>
                    </div>
                    <ul class="description">
                        <li>Gets a 5 for 4 deal on Classic Ads</li>
                        <li>Get a discount on Standout Ads Prices drops $309.99 per ad</li>
                        <li>Get a discount on Premium Ads when 3 or more purchased Prices drops $389.99 per ad</li>
                        <li>Manage Application</li>
                        <li>200-day Expired</li>
                    </ul>
                    <button class="btn btn-common" type="submit">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

